.form-group input{
    height: 40px;
   
}
.form-group label{
    font-family: tahoma;
    font-style: italic;
    font-weight: 900;
}
.form-group input:hover{
    background-color:lightslategrey;
    color: yellow;
    font-weight: 900;
   
}
.form-control input:hover{
    background-color:lightslategrey;
    color: yellow;
    font-weight: 600;
   
}
.btn-accent:hover{
    background-color: green;
    color: yellow;
}