.header{
    width: 80%;
    height: 50px;
    background-color: lightseagreen;
   
    
}
.header h3{
    text-align:center;
    margin-left: 20px;
    padding-top: 7px
}
.header input{
    width: 25%;
    
    margin-top: 20px;
    margin-left: 10px;
    height: 40%;
    background-color: navajowhite;
}
* {
    box-sizing: border-box;
  }
  
 
  
  .body input{
    width: 80%;
    height: 30px;
    background-color: lightpink;
    border: 1px solid black;
    float:right;
    
}

.body{
    margin: 15px;

}
.submit{
    background-color: green;
    color: wheat;
    border: 0px solid green;
    width: 50%;
}
.submit input{
    background-color: green;
    color: wheat;
}
.body label{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: yellow;
}
.header2{
    color:green;
    width: 80%;
   
}
.full{
    background-color: #bbb;
    width:80%;
    margin: 0 auto;

}

.gender option{
   
    height: 30px;
    background-color: lightpink;
    border: 1px solid black;
}

.body select{
    width: 80%;
    height: 30px;
    background-color: lightpink;
    border: 1px solid black;
}
.header2 h4{
    text-align:center;
}
.container{
    width:80%;
}

.body {
    position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}